In [61]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import ast
from IPython.display import display, Image
from PIL import Image

In [62]:
df=pd.read_csv("../Common/Final Cleaned/battle_data_end.csv")
df.head(2)

,type,gameMode,crowns1,cards1,startingTrophies2,crowns2,cards2
0,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,"[{'name': 'Arrows', 'id': 28000001, 'level': 1...",5807.0,3,"[{'name': 'Magic Archer', 'id': 26000062, 'lev..."
1,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,"[{'name': 'Arrows', 'id': 28000001, 'level': 1...",5857.0,2,"[{'name': 'Mini P.E.K.K.A', 'id': 26000018, 'l..."

# Filtering out only the PVP Types Matches

In [63]:
df = df.loc[df['type'] == "PvP"]

In [64]:
df.shape

(10401, 7)

In [65]:
#Converting the string cards1 into a Dictionary as it is currently a string only
df['cards1_dict'] = df['cards1'].apply(lambda x: ast.literal_eval(x))
df['deck1'] = df['cards1_dict'].apply(lambda x: [a['name'] for a in x])

#Doing the same for player2
df['cards2_dict'] = df['cards2'].apply(lambda x: ast.literal_eval(x))
df['deck2'] = df['cards2_dict'].apply(lambda x: [a['name'] for a in x])

## Extracting Player 1 Info

From the dictionary, we will be extracting out the player deck information including the following

Player card (List)

Player card max level

Player card current level

In [66]:
df['max_level_1'] = df['cards1_dict'].apply(lambda x: [a['maxLevel'] for a in x])
df['level_1'] = df['cards1_dict'].apply(lambda x: [a['level'] for a in x])
df.head(2)

,type,gameMode,crowns1,cards1,startingTrophies2,crowns2,cards2,cards1_dict,deck1,cards2_dict,deck2,max_level_1,level_1
0,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,"[{'name': 'Arrows', 'id': 28000001, 'level': 1...",5807.0,3,"[{'name': 'Magic Archer', 'id': 26000062, 'lev...","[{'name': 'Arrows', 'id': 28000001, 'level': 1...","[Arrows, Bomber, Electro Wizard, Skeleton Army...","[{'name': 'Magic Archer', 'id': 26000062, 'lev...","[Magic Archer, Mega Knight, Electro Wizard, Go...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]"
1,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,"[{'name': 'Arrows', 'id': 28000001, 'level': 1...",5857.0,2,"[{'name': 'Mini P.E.K.K.A', 'id': 26000018, 'l...","[{'name': 'Arrows', 'id': 28000001, 'level': 1...","[Arrows, Bomber, Electro Wizard, Skeleton Army...","[{'name': 'Mini P.E.K.K.A', 'id': 26000018, 'l...","[Mini P.E.K.K.A, Wall Breakers, Valkyrie, Gobl...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]"

## Extracting Player 2 Info

In [67]:
df['max_level_2'] = df['cards2_dict'].apply(lambda x: [a['maxLevel'] for a in x])
df['level_2'] = df['cards2_dict'].apply(lambda x: [a['level'] for a in x])
df.head(2)

,type,gameMode,crowns1,cards1,startingTrophies2,crowns2,cards2,cards1_dict,deck1,cards2_dict,deck2,max_level_1,level_1,max_level_2,level_2
0,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,"[{'name': 'Arrows', 'id': 28000001, 'level': 1...",5807.0,3,"[{'name': 'Magic Archer', 'id': 26000062, 'lev...","[{'name': 'Arrows', 'id': 28000001, 'level': 1...","[Arrows, Bomber, Electro Wizard, Skeleton Army...","[{'name': 'Magic Archer', 'id': 26000062, 'lev...","[Magic Archer, Mega Knight, Electro Wizard, Go...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[6, 6, 6, 9, 6, 9, 14, 12]","[4, 6, 4, 8, 3, 9, 13, 12]"
1,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,"[{'name': 'Arrows', 'id': 28000001, 'level': 1...",5857.0,2,"[{'name': 'Mini P.E.K.K.A', 'id': 26000018, 'l...","[{'name': 'Arrows', 'id': 28000001, 'level': 1...","[Arrows, Bomber, Electro Wizard, Skeleton Army...","[{'name': 'Mini P.E.K.K.A', 'id': 26000018, 'l...","[Mini P.E.K.K.A, Wall Breakers, Valkyrie, Gobl...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[12, 9, 12, 9, 12, 9, 14, 6]","[12, 7, 10, 8, 10, 9, 12, 4]"

# Dropping

Once the necessary information has been extracted, we wil be removing those column

In [68]:
df.drop(['cards1','cards2','cards1_dict','cards2_dict'],axis=1,inplace=True)
df.head(2)

,type,gameMode,crowns1,startingTrophies2,crowns2,deck1,deck2,max_level_1,level_1,max_level_2,level_2
0,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,5807.0,3,"[Arrows, Bomber, Electro Wizard, Skeleton Army...","[Magic Archer, Mega Knight, Electro Wizard, Go...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[6, 6, 6, 9, 6, 9, 14, 12]","[4, 6, 4, 8, 3, 9, 13, 12]"
1,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,5857.0,2,"[Arrows, Bomber, Electro Wizard, Skeleton Army...","[Mini P.E.K.K.A, Wall Breakers, Valkyrie, Gobl...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[12, 9, 12, 9, 12, 9, 14, 6]","[12, 7, 10, 8, 10, 9, 12, 4]"

In [69]:
def merge(list1, list2):
  merged_list = [(list1[i], list2[i]) for i in range(len(list1))]
  return merged_list

In [70]:
df['cards_level_1'] = [[x-y+14 for x,y in merge(df['level_1'].iloc[i],df['max_level_1'].iloc[i])] for i in range(len(df))]
df['cards_level_2'] = [[x-y+14 for x,y in merge(df['level_2'].iloc[i],df['max_level_2'].iloc[i])] for i in range(len(df))]

#from that we will compare the average
df['avg_cards_level_1'] = [sum(x)/8 for x in df['cards_level_1']]
df['avg_cards_level_2'] = [sum(x)/8 for x in df['cards_level_2']]
df.head(2)

,type,gameMode,crowns1,startingTrophies2,crowns2,deck1,deck2,max_level_1,level_1,max_level_2,level_2,cards_level_1,cards_level_2,avg_cards_level_1,avg_cards_level_2
0,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,5807.0,3,"[Arrows, Bomber, Electro Wizard, Skeleton Army...","[Magic Archer, Mega Knight, Electro Wizard, Go...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[6, 6, 6, 9, 6, 9, 14, 12]","[4, 6, 4, 8, 3, 9, 13, 12]","[11, 12, 10, 10, 14, 14, 12, 11]","[12, 14, 12, 13, 11, 14, 13, 14]",11.75,12.875
1,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,5857.0,2,"[Arrows, Bomber, Electro Wizard, Skeleton Army...","[Mini P.E.K.K.A, Wall Breakers, Valkyrie, Gobl...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[12, 9, 12, 9, 12, 9, 14, 6]","[12, 7, 10, 8, 10, 9, 12, 4]","[11, 12, 10, 10, 14, 14, 12, 11]","[14, 12, 12, 13, 12, 14, 12, 12]",11.75,12.625

# Dropping (Again)

In [71]:
df.drop(['cards_level_1','cards_level_2'], axis=1, inplace=True)
df.head(2)

,type,gameMode,crowns1,startingTrophies2,crowns2,deck1,deck2,max_level_1,level_1,max_level_2,level_2,avg_cards_level_1,avg_cards_level_2
0,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,5807.0,3,"[Arrows, Bomber, Electro Wizard, Skeleton Army...","[Magic Archer, Mega Knight, Electro Wizard, Go...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[6, 6, 6, 9, 6, 9, 14, 12]","[4, 6, 4, 8, 3, 9, 13, 12]",11.75,12.875
1,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,5857.0,2,"[Arrows, Bomber, Electro Wizard, Skeleton Army...","[Mini P.E.K.K.A, Wall Breakers, Valkyrie, Gobl...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[12, 9, 12, 9, 12, 9, 14, 6]","[12, 7, 10, 8, 10, 9, 12, 4]",11.75,12.625

# Adding Average Difference

We then add another column with the difference between the average exlixir cost between player 1 and 2

In [72]:
df['avg_cards_level_diff'] = df['avg_cards_level_2']-df['avg_cards_level_1']
df.head(2)

,type,gameMode,crowns1,startingTrophies2,crowns2,deck1,deck2,max_level_1,level_1,max_level_2,level_2,avg_cards_level_1,avg_cards_level_2,avg_cards_level_diff
0,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,5807.0,3,"[Arrows, Bomber, Electro Wizard, Skeleton Army...","[Magic Archer, Mega Knight, Electro Wizard, Go...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[6, 6, 6, 9, 6, 9, 14, 12]","[4, 6, 4, 8, 3, 9, 13, 12]",11.75,12.875,1.125
1,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,5857.0,2,"[Arrows, Bomber, Electro Wizard, Skeleton Army...","[Mini P.E.K.K.A, Wall Breakers, Valkyrie, Gobl...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[12, 9, 12, 9, 12, 9, 14, 6]","[12, 7, 10, 8, 10, 9, 12, 4]",11.75,12.625,0.875

# Adding Column for who won

In [73]:
df["1_won"] = df["crowns1"] > df["crowns2"]
df["2_won"] = df["crowns2"] > df["crowns1"]
df.head(2)

,type,gameMode,crowns1,startingTrophies2,crowns2,deck1,deck2,max_level_1,level_1,max_level_2,level_2,avg_cards_level_1,avg_cards_level_2,avg_cards_level_diff,1_won,2_won
0,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,5807.0,3,"[Arrows, Bomber, Electro Wizard, Skeleton Army...","[Magic Archer, Mega Knight, Electro Wizard, Go...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[6, 6, 6, 9, 6, 9, 14, 12]","[4, 6, 4, 8, 3, 9, 13, 12]",11.75,12.875,1.125,False,True
1,PvP,"{'id': 72000201, 'name': 'Ladder_CrownRush'}",0,5857.0,2,"[Arrows, Bomber, Electro Wizard, Skeleton Army...","[Mini P.E.K.K.A, Wall Breakers, Valkyrie, Gobl...","[14, 14, 6, 9, 14, 12, 12, 6]","[11, 12, 2, 5, 14, 12, 10, 3]","[12, 9, 12, 9, 12, 9, 14, 6]","[12, 7, 10, 8, 10, 9, 12, 4]",11.75,12.625,0.875,False,True

# Saving Cleaning into csv

In [74]:
df.to_csv('../Common/Final Cleaned/battle_log_cleaned.csv', index=False)